venv/
.venv/
dataset/
smaller_dataset/
smaller_dataset_landmarks/
videos - Copy/
all_videos/

dataset_removed/

*.webm

*.Identifier
*.webm
*.mp4
*.pptx
*.pdf

*.tfrecord

ModelTrain/dataset3.0/
ModelTrain/dataset1.0/
ModelTrain/dataset2.0/
ModelTrain/dataset4.0/

gte9_dataset/
gte9_landmarks/
gte9_landmarks_removed*/
smaller_dataset_landmarks2/

test_vid/*.mp4
*.npz
*.mp4
*.npy
*.zip
*.keras

gte9_landmarks/
gte9_landmarks_old/
# Operating System Files
.DS_Store
Thumbs.db

# IDE and Editor Files
.idea/
.vscode/
*.swp
*.swo

# Python
__pycache__/
*.py[cod]
*.so
venv/
.env

# Compiled Files
*.com
*.class
*.dll
*.exe
*.o
*.out

# Logs and Databases
*.log
*.sql
*.sqlite

# Build and Distribution
dist/
build/
*.egg-info/

Results/
notes/understanding_gru_bigru_conv1d.md
notes/
*.task
ExtractLandmarks/MISC/

*.png

*.md
Presentation/

*_log*.txt